

body {
 
      font-family: Osaka, 'MS Pゴシック', sans-serif; color: black; font-size: 10pt; background: white;

     }

h1   {
      
      font-family: arial, sans-serif; color:black; font-size: 24pt;

     }
